In [9]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

fname='https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=air_temperature&application=NOS.COOPS.TAC.MET&begin_date=20240822&end_date=20240823&station=8723214&time_zone=GMT&units=english&interval=6&format=csv'
df_buoy = pd.read_csv(fname, delim_whitespace=True)

In [10]:
df_buoy

           Date             Time,  Air  Temperature,  X,  N,   R
0    2024-08-22  00:00,84.6,0,0,0  NaN           NaN NaN NaN NaN
1    2024-08-22  00:06,84.4,0,0,0  NaN           NaN NaN NaN NaN
2    2024-08-22  00:12,83.3,0,0,0  NaN           NaN NaN NaN NaN
3    2024-08-22  00:18,82.9,0,0,0  NaN           NaN NaN NaN NaN
4    2024-08-22  00:24,83.1,0,0,0  NaN           NaN NaN NaN NaN
..          ...               ...  ...           ...  ..  ..  ..
471  2024-08-23  23:06,83.8,0,0,0  NaN           NaN NaN NaN NaN
472  2024-08-23  23:12,84.0,0,0,0  NaN           NaN NaN NaN NaN
473  2024-08-23  23:18,84.2,0,0,0  NaN           NaN NaN NaN NaN
474  2024-08-23  23:24,84.0,0,0,0  NaN           NaN NaN NaN NaN
475  2024-08-23  23:30,84.7,0,0,0  NaN           NaN NaN NaN NaN

[476 rows x 7 columns]

In [11]:
fname='https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_temperature&application=NOS.COOPS.TAC.PHYSOCEAN&begin_date=20240822&end_date=20240823&station=8723214&time_zone=GMT&units=english&interval=6&format=csv'
df_buoy = pd.read_csv(fname, delim_whitespace=True)
df_buoy

           Date             Time,  Water  Temperature,  X,  N,   R
0    2024-08-22  00:00,86.5,0,0,0    NaN           NaN NaN NaN NaN
1    2024-08-22  00:06,86.5,0,0,0    NaN           NaN NaN NaN NaN
2    2024-08-22  00:12,86.5,0,0,0    NaN           NaN NaN NaN NaN
3    2024-08-22  00:18,86.5,0,0,0    NaN           NaN NaN NaN NaN
4    2024-08-22  00:24,86.5,0,0,0    NaN           NaN NaN NaN NaN
..          ...               ...    ...           ...  ..  ..  ..
472  2024-08-23  23:12,86.0,0,0,0    NaN           NaN NaN NaN NaN
473  2024-08-23  23:18,86.0,0,0,0    NaN           NaN NaN NaN NaN
474  2024-08-23  23:24,86.0,0,0,0    NaN           NaN NaN NaN NaN
475  2024-08-23  23:30,86.0,0,0,0    NaN           NaN NaN NaN NaN
476  2024-08-23  23:36,85.8,0,0,0    NaN           NaN NaN NaN NaN

[477 rows x 7 columns]